<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="cn" connectionString="Data Source=DESKTOP-TK4EEMQ\SQLEXPRESS;Database=dbms;Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>

	<appSettings>

		<add key="ParentTableName" value="Studios"/>
		<add key="ChildTableName" value="Directors"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="FK_Sid,Name,YearsOfExperience"/>
		<add key="ChildTextBoxContent" value="1,Ionut,3"/>
		<add key="ColumnNamesInsertParameters" value="@FK_Sid,@Name,@YearsOfExperience"/>
		<add key="UpdateQuery" value="update Directors set FK_Sid=@FK_Sid, Name=@Name, YearsOfExperience=@YearsOfExperience where Did=@Did"/>
		<add key="SelectQuery" value="select * from Directors"/>
		<add key="SelectParent" value="select * from Studios"/>
		<add key="SelectChild" value="select * from Directors where FK_Sid=@Sid"/>
		<add key="DeleteChild" value="delete from Directors where Did=@Did"/>
		<add key="ParentId" value="@Sid"/>
		<add key="ChildId" value="@Did"/>

	</appSettings>
	<!--
	<appSettings>
		
		<add key="ParentTableName" value="Directors"/>
		<add key="ChildTableName" value="Apprentices"/>
		<add key="ChildNumberOfColumns" value="3"/>
		<add key="ChildLabelNames" value="FK_Did,Name,University"/>
		<add key="ChildTextBoxContent" value="1,Alex,UBB"/>
		<add key="ColumnNamesInsertParameters" value="@FK_Did,@Name,@University	"/>
		<add key="UpdateQuery" value="update Apprentices set FK_Did=@FK_Did, Name=@Name, University=@University where Aid=@Aid"/>
		<add key="SelectQuery" value="select * from Apprentices"/>
		<add key="SelectParent" value="select * from Directors"/>
		<add key="SelectChild" value="select * from Apprentices where FK_Did=@Did"/>
		<add key="DeleteChild" value="delete from Apprentices where Aid=@Aid"/>
		<add key="ParentId" value="@Did"/>
		<add key="ChildId" value="@Aid"/>

	</appSettings>
	-->
</configuration>